[submodule "Parable/vendor/spdlog"]
	path = Parable/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Parable/vendor/glfw"]
	path = Parable/vendor/glfw
	url = https://github.com/glfw/glfw